body {
	background-image: linear-gradient(to right, rgba(244,133,24,.4),rgba(155,236,24,.4),rgba(24,133,236,.4)), url("images/35.png");
}

h1 {
	color: rgb(143, 140, 214);
	font-size: 30px;
	font-weight: bolder;
}

h2 {
	font-size: 20px;
	color: rgba(255, 34, 237, 0.6);
}

p {
	color: blueviolet;
	font-size: 15px;

}

span {
	color: aquamarine;
}